name: Test action
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  read-contents:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Needed to federate tokens.
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      #<TESTING> Only required for debugging, remove afterwards
      - name: Debug OIDC Claims
        uses: github/actions-oidc-debugger@018a1dc4f8e47adca924d55e4bb0ddce917af32d # main
        with:
          audience: "octo-debugger"
      #</TESTING>
      - uses: ./
        id: octo-sts
        with:
          scope: DataDog/dd-octo-sts-action
          policy: self.test
      - name: Verify API access # Function to check contents:read access
        uses: ./.github/actions/verify-api-access
        with:
          token: ${{ steps.octo-sts.outputs.token }}
      - name: Check scoped access
        run: |
          gh api /installation/repositories \
            --jq '.repositories[].full_name' | grep -Fxq "$GITHUB_REPOSITORY" && {
              echo "✅ Token is valid and scoped to $GITHUB_REPOSITORY"
          } || {
              echo "❌ Token is not scoped to $GITHUB_REPOSITORY"
              exit 1
          }
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
